[run]
omit = 
    */hooklet/logger/*
    */hooklet/base/*
    */tests/*
    */venv/*
    */examples/*

[report]
omit = 
    */hooklet/logger/*
    */hooklet/base/*
    */tests/*
    */venv/*
    */examples/* 