PyYAML>=6.0
nats-py>=2.3.1
pyzmq>=25.0.0
pydantic>=2.0.0

# Linters and formatters
pytest>=7.0.0
pytest-asyncio>=0.18.3
flake8>=6.0.0
pylint>=3.0.0
black>=23.0.0
isort>=5.12.0
mypy>=1.0.0
types-PyYAML>=6.0.12